.social {
    display: inline-block;
}
.social a {
	display: block;
	width: 45px;
	height: 45px;
	margin: 0 10px 10px 0;
	text-align: center;
	color: #fff;
	border: 1px solid #ccc;
	border-radius: 6px;
	box-shadow: 1px 1px 2px rgba(0,0,0,0.4), inset 1px 1px 0px rgba(255,255,255,0.5);
}
.social a:hover {
	border-color: #888;
	opacity: .8;
}
.social svg {
	margin-top: 7px;
	width: 32px;
	height: 32px;
}
.instagram a {
    background: #dc56ca
}
.telegram a {
    background: #249bd7
}
.vk a {
    background: #4a76a8
}
.whatsapp a {
    background: #50b154
}
.btnYandex {
    background: rgb(34,193,195);
    background: linear-gradient(0deg, rgba(34,193,195,1) 0%, rgba(223,253,45,1) 100%);
    border-radius: 5px;
    padding: 3px;
}

.textFot{
	font-size: 18px;
    color: 'white';
}