
.modalka {
  z-index: 999999;
  position: fixed;
  left: 50%;
  top: 50%;
  background-color: beige;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 300px;
  height: 400px;
}

.cardM {
  display: grid;
  position: absolute;
  border-radius:0;
  width: 600px;
  height: auto;
  top: 150%;
  left: 40%;
  flex-direction: row;
}
.ModalCartItem{
    display: flex;
    justify-content: space-around;
}
.closeModal{
    display: flex;
    border-right: 30px solid white;
    border-left: 30px solid white;
    padding: 12px 2px;
}
.buttonCloseModal{
    border-radius:50%;
    width:30px;
    height: 30px;
}
.cartSize{
    font-size: 35px;
}
.thClass {
    font-weight: normal;
    border-bottom: 2px solid #6678b1;
    border-right: 30px solid white;
    border-left: 30px solid white;
    padding: 8px 2px;
  }
  td {
    border-right: 30px solid white;
    border-left: 30px solid white;
    padding: 12px 2px;
  }
  .formBuy{
    display: flex;
    justify-content: space-evenly;
  }
